@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    background-color: #f2f2f2
}
.navbar{
    @apply flex items-center justify-between w-full fixed top-0 z-10 h-[5.4rem] p-[3.4rem];
}
.nav_link{
    @apply text-2xl font-semibold text-[#181b21] mx-[0.8rem] px-[0.8rem] py-[0.4rem] rounded-[0.8rem] bg-transparent hover:bg-orange-600 hover:bg-opacity-10 transition-all duration-300;
}
.portfolio{
    @apply absolute top-[20%] left-[50%] text-center;
}
.education{
    @apply text-left;
}
.transform_50{
    transform: translate(-50%, -10%);
}
.footer{
    @apply bg-[#dcdcdc] shadow-md shadow-[#dcdcdc];

}